
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/symfony.lock
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> Frontend ###
/public/node_modules/
/public/dist/
/public/package-lock.json
###< Frontend ###

/composer.lock
/.idea/
/.docker/mysql/data/
/.docker/web/logs/
